:root{
    --green: #1b9313;
    --purple: #610f7f;
    --pink: #e544ca;
    --lblue: #5da1cc;
    --blue: #3557ba;
}
html, body{
    padding:0;
    margin:0;
    background:var(--blue);
    width:100%;
    text-align: center;
}
h1, h2, button{
    display: flex;
    margin:auto;
    color: var(--green);
    font-family: 'Courier New', Courier, monospace;

}
button{
    background-color: var(--purple);
    border-radius: 5px;
    border: none;
    padding: 50px;
}
button:hover{
    box-shadow: 15px 15px 20px 10px rgb(50, 81, 148);
}
.container{
    width: 100%;
    display: inline-block;
    margin: auto;
}
.top, .bottom{
    margin: 5% 0;
}
.bottom{
    width: 100%;
}
.image, .text{
    width: 80%;
    margin: 0 10% 0 10%;
    align-content: center;
}
.image img{
    width:100%;
}
.text h2{
    width: auto;
    display: inline;
}